<form method='post'>
	<input type='text' name = 'new_link'> 
	<button>Save</button>
</form>

<ul>
<% @links.each do |link| %>
	<li><a href="<%= link.url %>"><%= link.title %></a></li>
<% end %>
</ul>
